@import url("bootstrap-select.min.css");

body{
	background:#f5f5f0;
}

h3 {
	font-weight: 700; 
}
h3.panel-title {
    font-weight:bold;
	font-size:24px;
}
.dashboard .navigation-bar{
    padding:0;

}
.dashboard .navbar-default{
    background: none;
}
.dashboard header > .navbar > .container-fluid{
    padding:0;
}
.dashboard header > .navbar{
    margin-bottom: 0;
    border:none;
}

.dashboard .navbar-header{
    margin:0;
}

.dash-title{
text-align: center;
padding:0;
font-size: 16px;
font-weight: bold;
}
.dash-title h3{
	text-align: left;
	margin-bottom:40px;
}

#dash-menu{
    margin:0;
    padding:0;
	background: #428fdb;
	position:relative;
}
#dash-menu .navbar-nav > li {
    text-transform: uppercase;
}
#dash-menu .navbar-nav > li > a {
    background: none;
    padding:20px 36px;
	color: #fff;
}
#dash-menu .navbar-nav > li > a.selected {
    background: #003366;
    color:white;
    pointer-events: none;
}

#dash-menu .navbar-nav > .active > a,
#dash-menu .navbar-nav > .active > a:focus,
#dash-menu .navbar-nav > li > a:focus,
#dash-menu .navbar-nav > li > a:hover,
#dash-menu .navbar-nav > .active > a:hover{
    background: #003366;
}
#data-aggiornamento {
	position: absolute;
    bottom: 10px;
    right: 15px;
	color:white;
	font-size:14px;
}
#filtri {
	margin-bottom:20px;
}

.filter-bar{
	margin-top: 20px;
}
.filter-bar.formato{
  margin-top:10px;
}
.filter-bar .container-fluid{padding:0;}
.filter-nav{
    display: block;
    margin:0;
    list-style: none;
	padding: 0;
	padding-left: 15px;
}
.filter-nav > *{
    display: block;
    float:left;
   /* padding:10px 15px;*/
    color:#003366;
}

.filter-nav li span,
.filter-nav li label{
    color:#003366;
    font-weight: 600;
    margin-bottom: -1px;
}
.filter-nav li label{
    padding:10px 5px 10px 0;
	clear: both;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}
.filter-nav li a{
    padding:10px 36px;
	border: 1px solid #003366;
}

.filter-nav .btn-group.bootstrap-select{
    width: auto !important;
}
.filter-nav .selectpicker{
    background: none;
    border:none;
    width: auto;
    padding:0 20px 2px 0;
    color:#003366;
}
.filter-nav span.active,
.filter-nav .selectpicker span{
    color:#003366;
}
.filter-nav a{
    text-decoration:none;
    color:#003366;
	text-transform: uppercase;
	font-weight:400;
}
.filter-nav a:hover{
    color:white;
	background:#003366;
}
.filter-nav a.active{
    color: white;
    background: #003366;
    pointer-events: none;
}


.dashboard main{
    overflow: hidden;
    height: auto;
}


.dashboard .panel{
    color:#003366;
    border:none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.dashboard .panel-default > .panel-heading{
    background: #fff;
    color:#003366;
    padding:15px;
}

.dashboard .box-standings{
    margin-top:30px;
}
.dashboard .box-standings .progress{
    background: #90d7f0;/* #aaa;*/
    box-shadow: none;
    margin-bottom: 20px;
    height: 24px;
    margin-top: 1px;
    border-radius: 0;
}

.dashboard .box-standings h2{
    font-size: 1.3em;
    font-weight: 600;
    color:#003366;
    text-align: center;
}

.dashboard .band{
    margin:15px 0;
    padding:20px 0;
    background: #ffffff;
}
.dashboard .progress-value{
    text-align: right;
}
.dashboard .progress-value span{
    font-size: 0.8em;
}
.dashboard .progress-bar{
    background: #0066cc;
    color: #fff;
    text-align: left;
    padding-left: 5px;
    line-height: 22px;
    border-radius: 0;
    font-weight: normal;
    font-size: 16px;
}

.dashlabel {
    padding-right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dashboard #nbItem{
    max-width: 15%;
}

.dashboard .results .results-container{
/*    width:100%;
    max-width: 1200px !important;*/
    padding:10px 30px;
    margin:0 auto;
}

.selected-ambito{
    display: none;
}

@media (max-width: 1150px) {
	#dash-menu {
	    margin-top: 40px;
	}
}
@media (max-width: 768px) {
    body{
        height: auto;
    }
    .dashboard .navigation-bar{
        padding:0;
    }
	.filter-nav li span {
		margin-bottom: 40px;
		display: inline-block;
	}

/*
    .dashlabel {
        text-align: left;
    } 
*/
    .dashboard .navbar-header{
        background: #5F91B8;
    }

    .dashboard .selected-ambito{
        display: block;
        float:left;
        width:100%;
        padding:10px;
        color:#90d7f0;
        text-align: center;
    }
    .dashboard .navbar-toggle{
        background: none;
        color:#90d7f0;
        border: none;
        margin-top: 4px;
        margin-bottom: 0;
        position: absolute;
        right: 0;
    }

    .dashboard .navbar-toggle:hover{
        background: none;
        color: #fff;
        border: none;
    }
    .dashboard .navbar-toggle .icon-bar{
        background:#90d7f0 ;
    }
    .dashboard .navbar-toggle:hover .icon-bar{
        background:#fff ;
    }

    .filter-bar{
        margin:0;
    }
    /*.filter-nav > *{
        padding:5px;
    }*/
    .dashboard #dash-menu {
        margin:0;
        border:none;
        text-align: center;
		margin-bottom: 40px;
		display:block;
		visibility:visible;
		top: -2px;
    }
	.dashboard #dash-menu #data-aggiornamento {
		right: 15px;
		font-size: 14px;
		bottom: -25px;
		left: 15px;
		color:#333;
	}
    #dash-menu .navbar-nav{
        margin:0 !important;
    }
    #dash-menu .navbar-nav > li > a{
        padding:5px;
        font-weight: normal;
    }
    #dash-menu .navbar-nav > li > a:hover{
        color:#fff;
    }

    .filter-nav li span, .filter-nav li label {
        font-size: 0.8em;
    }
    .dashboard .box-standings{
        padding:10px;
    }


    }


