/***** @import external css file *****/

/* @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600");
@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
*/
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600);
@import url("bootstrap.min.css");
@import url("font-awesome.min.css");
@import url("italiasicura.css");
@import url("icomoon.css");
@import url("jquery.bxslider.css");
/*@import url("ng-twitter.min.css");*/
@import url("http://openlayers.org/en/v3.4.0/css/ol.css");
/*@import url("ol.css");*/

[ng:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

*{outline:0 !important; font-family: 'Titillium Web', sans-serif;}
html,body{width:100%;height:100%;margin:0;padding:0;position:relative;font-family: 'Titillium Web', sans-serif; font-size:100%; line-height:140%;}

body > div{
    position:relative;
    height: 100%;
    min-height:620px;
}
main{
    width:100%;
    height: 100%;
    /*min-height: 780px;*/
    position:relative;
    display: block;
    overflow: hidden;
	 /*overflow-x:hidden; */
}
@media (max-width: 768px) {
	main { overflow:hidden;}
}
footer{
    position:fixed;
    width:100%;
    bottom:0;
    display: block;
    z-index:9999;
    background: rgba(0, 102, 204, 1); /*#0066cc;*/
    color:#9bc2d2;
    font-size: 10px;
    padding:3px;
}

footer a{
    color:#9bc2d2;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    color:#fff; 
    text-decoration: none;
}
aside {position:relative;z-index:99;}


h1 { font-size: 4.5em }
h2 { font-size: 3.750em }
h3 { font-size: 2.250em }
h4 { font-size: 1.5em }

/* Cookie Bar */
#cookie-bar {background:rgba(17,17,17,0.8); height:auto; min-height:24px; line-height:24px; color:#eeeeee; text-align:left; padding:3px 0; z-index:1000; }
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding: 25px 130px 25px 130px;}
@media (max-width: 768px) {
  #cookie-bar p {margin:0; padding-left:70px;padding-right:70px;}
}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
#cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {margin:0; padding:0;}
#cookie-bar .cb-policy:hover {text-decoration:underline;}


/* Header Panel */

.navigation-bar{
    position: relative;
    z-index: 10;
}
.navigation-bar * {
	line-height:125%;
}
.navigation-bar > .row{
    background: #0066cc;
	height:64px;
    margin:0;
}
.navigation-bar > .row > div{
    padding:0;
}
.navigation-bar .search {
	width:60%;
	margin-left:0;
}
.navigation-bar .search .form-control {
    border: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 10px 20px 10px 40px; 
	width:100%;
    font-weight: lighter;
    height: 64px;
    font-size: 1.1em;
	/*
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	*/
}
.navigation-bar .search .form-group {
	width: 100%;
}
.navigation-bar .search .form-group i {
	position:absolute;
	z-index: 1000;
	left:5px;
	top:14px;
	font-size: 1.8em;
	color:#ddd;
}
.navigation-bar .search .form-group i:hover {
	cursor: pointer;
	color: #0066cc;
}
.navigation-bar .brand .logo {
	height: 64px;
	display: table-cell;
	vertical-align: middle;
}
.navigation-bar .brand .logo img {
	width:80%;
	/*margin: 0 auto;*/
}
.navigation-bar .brand .logo-small {
	display:none;
	height: 48px;
	vertical-align: middle;
	position: relative;
    /*left: 50%;*/
}
.navigation-bar .brand .logo-small img {
	max-width:65%;
	margin: 0 auto;
}

.nav{margin-top: 0px;}
.nav > li > a:hover, 
.nav > li > a:focus, 
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover, 
#main-menu >li >span.active, #main-menu >li >span:hover {
	background-color: #003366;  border-radius:0
}

@media (max-width: 992px) {
.navigation-bar .brand .logo img {
		width:100%;
	}
}
 
@media (max-width: 768px) {
	.navigation-bar > .row {
		height:48px;
		position:relative;
	}
	.navigation-bar .brand .logo {
		display:none;
	}
	.navigation-bar .brand .logo-small {
		display: table-cell;
	}
	.navigation-bar .search .form-group {
		margin-bottom:0;
	}
	.navigation-bar .search .form-control {
		height:48px;
	}
	.navigation-bar .search .form-group i {
		left: 14px;
		font-size:inherit;
		color:white;
	}
	.navigation-bar .search .form-group i:hover {
		color:white;
	}
	.navigation-bar .search .form-group.active i {
		color:inherit;
	}
	.navigation-bar .search .form-group.active i:hover {
		color:inherit;
	}
	.navigation-bar .search #search-place {
		/*display:none;*/ 
		position:fixed; 
		z-index:999;  
		top: -48px;
		left:48px; 
	}
	.navigation-bar .search .form-group.active #search-place {
		top:0;
	}
	.navigation-bar .search #search-button {
		position: relative;
		width: 48px;
		height: 48px;
		z-index: 1000;
		display: block;
	}
	.navigation-bar .search #search-button:hover {
		background-color: #003366; 
		cursor:pointer;
	}
	.navigation-bar .search .form-group.active #search-button{
		position:fixed;
		background:none;
		color:#ddd;
	}
	.navigation-bar .search .form-group.active #search-button:hover {
		background:none;
		color:#0066cc;
	}
}
/* Navigation Panel */
.navigation-block li.active{
    background: none;
}
.navigation-block li a{
    color:#9bc2d2;
    padding:13px 15px;
    font-weight:bold;
}
.navigation-block li a:hover,
.navigation-block li.active a:hover,
.navigation-block li.hover a,
.navigation-block li.active a{
    color:#fff;
    background: #003366; 
    border-radius: 0;
}
.navigation-block li.active {
	pointer-events: none;
}
.navigation-block li a i{
    vertical-align: 0;
    padding-right:3px;
}

.navigation-bar{
    position:relative;
    width: 100%;
    padding:0;
}
.header-panel{
    position: relative;
    z-index: 88;
    padding:0 15px;
}
.navigation-block{
    position:relative;
    top:0;
    right:auto;
    left:auto;
    width:100%;
    background: none;
    /*z-index: 99;*/
}
.navigation-block li a, .navigation-block li  > span {
	cursor: pointer;
	display: block;
	padding: 22px 24.5px;
	color: white;
	font-size: 16px;
    font-weight: 400;
}
@media (max-width: 768px) {
 .navigation-block li a, .navigation-block li > span {  
	padding: 14px 18px;
  }
}
/* header panel */
.header-panel .brand{
    background: #0066cc;
    color:#fff;
    padding:0 5px 0 15px;
}
.header-panel  .brand a{
    color:#fff;
    display: block;
    height: 46px;
    padding: 8px 0 0 0;
    float: left;
}
.header-panel  .brand a:hover{
    color:#ddd;
    text-decoration: none;
}
.payoff{
    font-size: 0.9em;
    padding:19px 0 2px 15px;
    color: #fff;
    display: block;
    float: left;
}
@media (max-width: 1340px) {
    .payoff{
        font-size: 0.75em;
    }
}
@media (max-width: 1183px) {
    .payoff{
        padding-top:0;
        padding-bottom: 0;
    }
    .header-panel  .brand a{
        height: 31px;
        padding-top:4px;
    }
}
@media (max-width: 1148px) {
    .payoff{
        padding-left:0;
    }
}
.header-panel .search{
    padding:0;
    background: #fff;
    margin-bottom:0;
}
.header-panel .search .form-group{
    display: block;
}
.header-panel .search .form-control{
    border:0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    padding: 10px 40px 10px 20px;
    width: 100%;
    font-weight: lighter;
    height: 46px;
    font-size: 1.1em;
    background: transparent;
}
.header-panel .search .form-group i{
    position:absolute;
    right:5px;
    top:5px;
    font-size: 1.8em;
    color:#ddd;
}
.header-panel .search .form-group i:hover {
    cursor: pointer;
    color: #0066cc;
}
.header-panel .search #search-place:before{
    font-family: "FontAwesome", sans-serif;
    color:#000;
    content:'\f002';
}
.header-panel .search #search-place:before {
    font-family: FontAwesome;
    content: "\f095";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}

/* menu sidebar */
.affix {position: static;}
#affix{width: 100%;}

.sidebar-offcanvas{-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	
	width:305px;
	background-color: #003366;
	z-index: 151;
	margin: 0; padding: 0;
	position: fixed;
	top:64px;
	left: -305px;
}

#menu-claim {
    padding: 15px;
    font-size: 24px;
    color: white;
    border-bottom: 1px solid #0066cc;
    line-height: 130%;
}

.sidebar-offcanvas ul li{margin:0}
.sidebar-offcanvas ul li a{
	color: #fff;
    padding: 15px 20px;
    margin: 0;
    font-size: 16px;
    border-bottom: 1px solid #003366;
    background: #0066cc;
}
.sidebar-offcanvas ul li a:hover, .sidebar-offcanvas ul li.active a{background:#003366;}



.sidebar-offcanvas.active {left: 0;}

@media (max-width: 768px) {
	.sidebar-offcanvas {
		top:48px;
	}
}

/* common */
.panel-group .panel {
	border-radius: 2px;
}
.page .panel-default > .panel-heading {
	background:#f5f5f0;
}

.row.noMargin {
	margin:0;
}
.text-right {
	text-align:right;
}

/* Panel Design */
.app-panel{
    /*width:450px;*/
    margin:15px 0;
   /* -moz-box-shadow: 0 0 3px #666;
    -webkit-box-shadow: 0 0 3px #666;
    box-shadow: 0 0 3px #666;*/
}
.app-panel:hover,
.app-panel.selected{
    /*-moz-box-shadow: 0 0 4px #f4f23a;
    -webkit-box-shadow: 0 0 4px #f4f23a;
    box-shadow: 0 0 4px #f4f23a;*/
}
.app-panel.emergenze{
	width: 100%;
	max-width:450px;
	background: white;
        margin-top: 20px;
}

.app-panel .coord,
.app-panel .entity-name{
    color:#999;
    font-size: 16px;
    background: #fff;

    line-height: 1em;
    padding:3px 0;
}
.app-panel .coordinates{
    letter-spacing:-1px;
}
.app-panel .bread-crumb {
    color:#777;
}
.app-panel .entity-name{
    margin-top: 0;
}
.app-panel .coord .col-xs-6{
    color:#999;
    font-size: 0.8em;
    margin-top: 5px;
    line-height: 1em;
}

.app-panel #entity-name h2{
    font-size: 26px;
    color: #0066cc;
    font-weight: 600;
    line-height: 130%;
    margin: 0;
}
.app-panel h3 {
	font-size: 16px;
    color: #5a6777;
    font-weight: 600;
    margin: 20px 0 0;
    line-height: 130%;
}
.app-panel .coord #mouse-position{
    font-size: 14px;
}

.app-panel .info{
    /*  padding-top: 10px;*/
    background: #fff;
    padding:0;
}

.app-panel .addons{
    padding:0;
    background: #e3e3e3;
}
.app-panel .addons ul.nav{
    font-size: 0.9em;
}
.app-panel .addons ul.nav li a{
    padding:2px 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    color:#afc8dc;
    background:#0066cc;
}

.app-panel .addons ul.nav li a i{
    margin-right:2px;
    font-size: 1.1em;
}

.app-panel .addons ul.nav li.active a,
.app-panel .addons ul.nav li:hover a{
    color:#fff;
    cursor: pointer;
}

/* right panel  */
#right-panel{
    position:absolute;
    z-index:9;
    top:160px;
    right: -220px;
    background: #0066cc;
    color:#fff;
    -moz-box-shadow: 0 0 3px #666;
    -webkit-box-shadow: 0 0 3px #666;
    box-shadow: 0 0 3px #666;
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
}
#right-panel.active{
    right:0;
}
#right-panel .visible-block,
#right-panel .actions-block{
    float:left;
}
.navigation-addons li a{
    color:#fff;
    padding: 10px;
}
.navigation-addons li a:hover,
.navigation-addons li a:focus,
.navigation-addons li.active a:hover,
.navigation-addons li.hover a,
.navigation-addons li.hover a:focus,
.navigation-addons li.active a{
    border-left:2px solid #94bddc;
    padding-left: 8px;
    background: #428fdb;
}

#right-panel .action-block{
    float:left;
    max-width: 220px;
    padding:10px 15px 0 15px;
}

#right-panel .action-block h4{
    margin:0;
    padding:0;
    margin-bottom: 5px;
}
#right-panel .action-block p{
    font-weight: lighter;
    margin-bottom: 4px;
    font-size: 0.9em;
    line-height: 1.4em;
}
#right-panel .action-block .social-share-bar,
#right-panel .action-block .export-bar{
    margin-bottom: 4px;
}

#right-panel .action-block .social-share-bar ul,
#right-panel .action-block .export-bar ul{
    display:table;
    margin:0;
    padding: 0;
    list-style: none;
}
#right-panel .action-block .social-share-bar li,
#right-panel .action-block .export-bar li{
    display:table-cell;
    font-size: 0.8em;
}
#right-panel .action-block .social-share-bar li a,
#right-panel .action-block .export-bar li a{
    display: block;
    padding:0 5px;
    color:#c1d9e6;
}
#right-panel .action-block .social-share-bar li:first-child a,
#right-panel .action-block .sexport-bar li:first-child a{
    padding-left: 0;
}
#right-panel .action-block .social-share-bar li a .fa-inverse,
#right-panel .action-block .export-bar li a .fa-inverse{
    color:#428fdb;
}
#right-panel .action-block .social-share-bar li a:hover,
#right-panel .action-block .export-bar li a:focus{
    color:#fff;
}
#right-panel .action-block .export-bar .file-text {
font-size: 0.7em;}


#right-addons{
    padding:10px 10px 0 10px;
    background: #0066cc;
}
#right-panel .ol-control{
    background: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    position: relative;
    left:0;
    padding:0;
}
#right-panel .ol-control button{
    border:none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
    color:#fff;
    background: transparent;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    margin:0 auto;
}
#right-panel .ol-control button:hover{
    color: #ddd;
    border-color:#ddd;
}
#right-panel .ol-control button i:before{
    margin:0;
}
#right-panel .ol-zoom{
    top:0;
}

#right-panel .ol-zoomslider {
    background-color: transparent;
    height: 66px;
    top: 0;
    padding:0 7px;
    margin:3px 0;
    background: url('../img/backzoomslider.png') no-repeat top center;
}
#right-panel .ol-zoomslider .ol-zoomslider-thumb{
    height: 10px;
    width: 10px;
    margin:0;
    background: #fff;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    left: auto !important;
}
#right-panel button.ol-zoom-in,
#right-panel button.ol-zoom-out{
    border:2px solid #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 1.14em;
    height: 1.1em;
    line-height: 0.5em;
    width: 1.1em;
	padding-bottom: 3px;
}

#right-panel .geolocating{
    padding:10px 0;
}


#right-panel .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
#right-panel.ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
    top: 3px;
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1150px) {
	
	.interventi .navigation-bar .label-background,
	.emergenze .navigation-bar .label-background,
	.dashboard .navigation-bar .label-background {
	    position: absolute;
		background: #003366;
		height: 40px;
		bottom: -40px;
		left: 0;
		right: 0;
		z-index: -1;
	}
	
	.navigation-block li a span {
			display:none;
	}
	
    .navigation-block li.active a span{
		display:block;
        position: absolute;
		bottom: -30px;
		left: 0;
		right: 0;
    }
}

@media (max-width: 768px) {
	.navigation-block li.active a span{
		font-size: 14px;
		font-weight:400;  
    }
	.navigation-block li.active a span span{
		height: 36px;
		top: 48px;
	}
}
/* Map Design */

#wrap-map{
    position:absolute;
    top:0;
    height: 100%;
    width: 100%;
	
}

#olmap{
    display: block;
    margin: 0 auto;
    width:100%; height: 100% !important;
}


#olmap .ol-scale-line{
    bottom:1em;
}

@media (max-width: 992px) {
    /*#olmap .ol-overlaycontainer-stopevent{
        left:56%;
    }*/
}

#swipediv{
    position:relative;bottom:41px; background: #0066cc;
}
#swipe{
 width:100%;
}

#map-loader{
    position:absolute;
    top:50%;
    left:50%;
    width: 80px;
    height: 26px;
    display: block;
    background: rgba(255,255,255,0.5);
    padding:3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

}
#map-loader .progress{
    margin-bottom: 0;
}
#map-loader .progress-bar{
    display: block;
    /*background: #fff;
    height: 50%;*/
    position: relative;
    width:100%;
}

.ol-attribution.ol-uncollapsible {
    bottom: 15px;
    line-height: 0;
}
.ol-attribution.ol-uncollapsible img {
    display: none;
}
.ol-attribution.ol-attr-emergenze.ol-uncollapsible {
    bottom: 80px;
    line-height: 0;
}


.bottom-box{
	background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    padding-top: 10px;
    border-top: 4px solid #0066cc;
}
.bottom-box .container-fluid{
    width:100%;
    max-width: 1200px;
    margin:0 auto;
}
.bottom-box .container-fluid.info-bar{
     display: table;
 }
.bottom-box .container-fluid.info-bar > div{
    display: table-cell;
    width: 16.6%;
    text-align: center;
}
.bottom-box .container-fluid.info-bar > div span.number{
    font-size: 1.5em;
    font-weight: bold;
    color:#66b42a;
    display: block;
    line-height: 1em;
}
.emergenze .bottom-box .container-fluid.info-bar > div span.number{
    color:#ff6000;
}
.bottom-box .container-fluid.info-bar > div span.text{
    display: block;
    font-size: 0.7em;
    color: #666666;
    padding: 0 5px;
    text-transform: uppercase;
    line-height: 130%;
}

.info-box{
    padding: 0 !important;
}
.social-bar{
    padding:10px 20px;
    background: #f0f0f0;
}

.flickr-block{
    background: #fff;
    padding:0;

}
.flickr-block .flickr-info{
    padding:2px 3px;
    font-size: 0.8em;
    font-weight: lighter;
}
.flickr-block .flickr-info .title{
    font-weight: bold;
    color:#0066cc;
}

.twitter-icon{
    /*padding:0;*/

}
.tweetFavList{
    padding:0;
}
.tweetFavList li{
    font-size: 0.9em;
    width: 100%;
    padding:10px;
    height: 100px !important;
}
.tweetFavList li i.fa-twitter{
    color:#5EA9DD;
}
.tweetFavList li .username{
    font-size: 1.3em;
}
.photolist li{
    height: 80px !important;
    overflow: hidden;
}


/*  tooltip */
#info {
    position: absolute;
    height: 1px;
    width: 1px;
    z-index: 100;
}
.tooltip.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.tooltip .tooltip-arrow {
    border-color: #fff !important;
}
.tooltip.top .tooltip-arrow {
    color:#fff;
    border-top-color: white;
    border-bottom-color: white;
}
.tooltip.bottom .tooltip-arrow {
    color: #fff;
    border-top-color: white;
    border-bottom-color: white;
}

.tooltip-inner{
    color:#fff;
    background-color:#0066cc;
}
.tooltip-inner {
    border: 2px solid white;
}

/*  popover */
.popover {
   font-family: 'Titillium Web', sans-serif;
}
.popover-title {
   color: #0066cc;
   background-color: #e0e07b;
/* #d3d243 */
}

.popover-content {
   font-size: 0.8em;
}

.popover-content h6 {
  margin-top: 5px;
  font-weight: bold;
  color: #0066cc;
}
.istruttoria {
  font-size: 12px;
  font-weight: bold;
  color: #0066cc;
}

/* sviluppatori page */
.underblock {
  padding: 10px 20px;
  margin: 0 0 20px 8px;
  border-left: 5px solid #eee;
  font-size: inherit; 
}


.aside-container { 
	position: absolute;
    top: 64px;
}

@media (max-width: 768px) {
    body{background: #0066cc}
    main{
        height:auto;
        min-height: auto;
    }
    .header-panel  .brand{
        padding-top:3px;
        padding-bottom: 3px;
    }
    .header-panel  .brand > *{
        display:block;
        float:none !important;
        text-align: center;
    }
    .header-panel  .brand > * > *{
        margin:0 auto;
    }

    .navigation-bar{
        padding:0;
    }

    .header-panel .search .form-group{
        margin-bottom: 0;
    }
    .header-panel .search .form-control{
        padding:5px 30px 5px 10px;
        height: auto;
        font-size:1em;
    }
    .header-panel .search .form-group i{
        font-size: 1.2em;
        top:2px;
    }
    .navigation-block{
        max-width: 300px;
        float:none;
    }
    .navigation-block ul{display:table;}
    .navigation-block ul li{display:table-cell;}
    .navigation-block li a{
        padding: 14px 0;
		margin: 0;
    }
	.right-nav {
		float:right;
	}
    .app-panel{
        min-width: 100%;
        padding:20px;
    }
    .app-panel .pullright {
        text-align:left !important;
    }
    .app-panel .info .interventi > div {
        padding: 20px 0px 20px 0  !important;
    }
    .ol-attribution {
       max-width: 98%;
    }
    .ol-attribution.ol-uncollapsible {
        /*display: none;*/
       height: 4.1em;
       bottom: 0;
    }
    .ol-attribution.ol-attr-emergenze.ol-uncollapsible {
       bottom: 0;
    }

    #wrap-map{
        position:relative;
        height:360px;
        margin-bottom: -50px;
    }
    .bottom-box{
        position:relative;
        width:80%;
        margin:0 auto;
        bottom: auto;
    }
    .bottom-box .container-fluid > div{
        display: block;
        text-align: center;
        width: 100%;
    }
    .bottom-box .container-fluid.info-bar{
        display: block;
    }
    .bottom-box .container-fluid.info-bar > .box-item{
        display: block;
        float:none;
        width:100%;
        padding:4px;
    }
    .twitter-block{
      padding:0;
        margin-bottom: 5px;
    }
    /*#map-loader{
        left:auto;
        right: 5px;
    }*/
    .app-panel{
        width:80%;
        margin:0 auto 10px auto;
        min-width: 80%;
	position:relative;
	top:0;
    }
    .navigation-addons{
        display: none;
    }

    .table-responsive{
        margin-bottom: 0;
    }
    .app-panel .addons{
        background: #0066cc;
    }
    .app-panel .addons .social-share-bar{
        width:70%;
        float:left;
    }
    .app-panel .addons .social-share-bar ul {
        margin:0;
        padding:0;
        background: none;
        list-style: none;
    }
    .app-panel .addons ul.nav{
        font-size: 1.1em;
    }
    .app-panel .addons .social-share-bar ul  li{
        float:left;
        width: auto;
    }
    .app-panel .addons .social-share-bar ul  li a{
        color:#afc8dc;
        font-size: 0.8em;
    }
    .app-panel .addons .social-share-bar ul  li a:hover{
        color:#fff;
    }
    .app-panel .addons .social-share-bar ul  li a .fa-inverse{
        color:#0066cc;
    }
    .app-panel .addons ul.nav{
        width:30%;
        float:left;
    }
    .tweetFavList li{
        height: 150px !important;
    }
    footer{
        position:relative;
    }

    footer .row > div{
        text-align: center;
    }
    footer a{
        font-weight: normal;
    }
}

.nicescroll-rails {
	z-index:999!important;
}

#info-main { 
	height: 100%;
	float:left;
	min-width: 500px;
	width: 500px;
	position:relative;
	border-radius:2px; 
	padding: 15px;
	font-size:14px;
    background: white;
	color:#000;
	overflow:auto;
	/*min-height: 378px!important;*/
	min-height: 310px!important;
	height:auto!important;
	/*
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	*/
}
#info-main.open {
	width:980px;
}

#info-main .left-container {
	    float: left;
	width: 470px;
	max-width:470px;
	position:relative;
}
#info-main .right-container {
	width: 445px;
	max-width:445px;
	position:relative;
	display: none;
}
#info-main.open .right-container {
	float:right; 
	display: block;
}


#panel-controller {
	position: absolute;
    right: 15px;
    z-index: 100;
}
#panel-controller .panel-controller {
	text-align: right; 
	cursor:pointer;
}
#info-main.open #panel-controller .panel-controller:nth-child(1) a {
	display:none;
}

#info-main #panel-controller .panel-controller:nth-child(2) a {
	display:block;
}
#info-main.open #panel-controller .panel-controller:nth-child(2) a {
	display:none;
}

#info-main #panel-controller .panel-controller:nth-child(3) a {
	display:none;
}
#info-main.open #panel-controller .panel-controller:nth-child(3) a {
	display:block;
}


#info-main #panel-bottom-controller {
	margin:0;
	padding: 10px 15px;
    background: #5a6777;
	text-align: right;
}
#info-main #panel-bottom-controller * {
	color:white;
}
#info-main #panel-bottom-controller .panel-controller:nth-child(1) a {
	display:block;
}
#info-main.open #panel-bottom-controller .panel-controller:nth-child(1) a {
	display:none;
}

#info-main #panel-bottom-controller .panel-controller:nth-child(2) a {
	display:none;
}
#info-main.open #panel-bottom-controller .panel-controller:nth-child(2) a {
	display:block;
}
.info-interventi {
	min-height:auto!important;
}
/**/

@media (max-width: 1150px) {
	#info-main {
		width: 310px;
		max-width: none;
		min-width:0;
	} 
	#info-main .left-container {
		width:280px;
	}
	#info-main.open {
		width:768px;
		max-width: none;
	}
}
@media (max-width: 768px) {
	#info-main, #info-main.open {
		width:100%;
		min-width: auto;
		max-width: none;
		max-height:none!important;
	} 
	#info-main.open .left-container, #info-main .left-container {
		position:static;
		float:none;
		width:100%;
		min-width: auto;
		max-width: none;
		max-height:none!important;
	}
	#info-main.open .right-container, #info-main.right-container  {
		position:static;
		float:none;
		width:100%;
		min-width: auto;
		max-width: none;
		max-height:none!important;
	}
	#info-main .right-container #charts {
		min-height:auto!important;
		width: 100%;
		min-width: 0;
	}
	#info-main .info-interventi {
		min-height:auto!important;
	}
}
.top-bar{
    min-height: 24px;
	padding: 4px 5px 0 15px !important;
	font-weight: normal !important;
	font-size: 14px;
}
.top-bar a{
	cursor: pointer;
	text-decoration:none;
}
#charts {
	padding: 10px;
	width: 100%;
	min-width: 458px;
	float: left;
	position:relative;
	overflow:hidden;
	background-color: white;
	min-height:0!important;
}
#charts > div > div{
        background-color:white;
        padding: 5px;
        font-weight: bold;
        color: #0066cc;
}
#charts .col-sm-6{
        min-height: 150px;
}

#charts h4{
    margin:10px 0 5px 0;
    font-size: 1.1em;
}

/*#charts > div > div:nth-child(2){
        border: 1px #0066cc solid;
}*/
#charts .chart{
        text-align:center;
}
#charts .legend{
    padding:0;
    min-height: 130px;
}
#charts .legend > div{float:left}
#charts .legend .ui-state-disabled,
#charts .legend .ui-widget-content .ui-state-disabled,
#charts .legend .ui-widget-header .ui-state-disabled{
    opacity: 1;
}
#charts .legend .ui-slider-vertical{
    height: 130px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #e9e9e9;
    border:none;
}

#charts .legend .ui-slider-range{
    background: #5f91b8;
    width: 2px;
    margin-left: 5px;
}

#charts .legend .ui-slider-handle{
    border:none;
    background: transparent;
    margin-left: 10px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #5f91b8;
}
#charts .label_tipologia{
    font-size: 0.8em;
    font-weight: normal;
}
#charts .label_tipologia > span{
    display: block;
}
#charts .label_tipologia i{
    font-size: 1.1em;
    color:#deeaf6;
}
#charts .label_tipologia span span{
    text-transform: capitalize;
    color:#b2b2b2;
}

#charts .label_tipologia span.active i{
    color:#546f8d;
}
#charts .label_tipologia span.active span{
    color:#546f8d;
}
#charts .chart-title{
    font-weight: normal;
}

#charts .label_stato,
#charts .label_ente,
#charts .label_anno,
#charts .label_costi,
#charts .label_copertura{
    width:80%;
    font-weight: normal;
    padding-left: 5px;
}
#charts .label_stato >span,
#charts .label_ente >span,
#charts .label_anno >span,
#charts .label_costi >span,
#charts .label_stato >span{
    height:32px;
    display: block;
    vertical-align: middle;
    font-size: 0.7em;
    line-height: 1.1em;
    text-transform: capitalize;
}
#charts .label_stato >span{
    height: 21px;
    font-size: 0.85em;
    line-height: 100%;
    margin-bottom:1px;
}
#charts .label_costi > span{
	height:26px;
}
.chart{
    padding:20px 5px 0 5px;
}
.chart.no-title{
padding-top:42px;}
.chart canvas{
    width:80px;
    height: 80px;
    display: block;
    margin:0 auto;
}


@media (min-width: 769px) and ( max-width: 1050px) {
    /*
	main {
        min-height: 1350px !important;
    }
	*/

    .app-panel > div{
        /*float:none !important;*/
    } 

}

@media (max-width: 768px) {
    .app-panel > div{
        float:none !important;
        width:100% !important;
        margin-right: 0;
    }
    #charts .legend{
        padding-left:10px;
    }

	.app-panel .addons .social-share-bar{
			float:right;
			width:auto;
	}
	.addons .top-bar.text-right{
			display:none;
	}
	
	.social-share-bar.visible-xs {
		margin-top:15px;
	}
}


