<div class="row"><div class="col-md-10 col-md-offset-1">

<div class="standing-item panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="font-size:20px;font-weight: bold;">Crediti</h3>
    </div>
    <div class="panel-body">

    <p><strong>mappa.italiasicura.gov.it</strong> è un progetto della Presidenza del Consiglio, Struttura di Missione contro il dissesto idrogeologico, realizzato da AgID  attraverso la Fondazione Politecnico di Milano. Il coordinamento scientifico è di Giovanni Menduni del Politecnico di Milano. Il progetto è svolto in stretta collaborazione con il Dipartimento della Protezione civile e ISPRA che hanno fornito i dataset e il relativo supporto, con il Ministero dell'Ambiente, della tutela del territorio e del mare e con il Ministero delle Infrastrutture e dei trasporti.</p>
     <h4>Il gruppo di lavoro</h4>
     <h5><strong>Per <a href="http://www.fondazionepolitecnico.it/" target="_blank">Fondazione Politecnico di Milano</a>:</strong></h5>
      <ul>
          <li><a href="https://www4.ceda.polimi.it/manifesti/manifesti/controller/ricerche/RicercaPerDocentiPublic.do?evn_didattica=evento&k_doc=18368&aa=2012&lang=IT&jaf_currentWFID=main" target="_blank">Daniele Bignami</a> (Coordinamento operativo)</li>
          <li>Donatella Macchia (amministrazione)</li>
          <li>Donella Consolati (Temi amministrativi)</li>
          <li>Luca Canziani e <a href="https://it.linkedin.com/pub/davide-prandoni/a2/237/a/en" target="_blank">Davide Prandoni</a> (geospatial computation)</li>
          <li>Fabrizio Verrocchi (Graphics)</li>
          <li><a href="http://www.sciamlab.com" target-"_blank">SciamLab</a> (Integrazione, Sviluppo e Data Visualization)</li>
          <ul>
             <li><a href="https://de.linkedin.com/pub/luca-tamburrano/4/6b3/507" target="_blank">Luca Tamburrano</a> (Data Scientist)</li>
             <li><a href="https://it.linkedin.com/in/paolostarace" target="_blank">Paolo Starace</a> (Data API and Dashboards)</li>
             <li>Tommaso Biondo (Web Application and UX)</li>
             <li><a href="http://twitter.com/groundrace" target="_blank">Alessio Dragonii</a> (Software Architect and Project Chef)</li>
          </ul>
          <li><a href="http://twitter.com/giovannimenduni" target="_blank">Giovanni Menduni</a> (Coordinamento scientifico e tecnico)</li>          
      </ul>

      <h5><strong>Per il <a href="http://www.protezionecivile.gov.it/" target="_blank">Dipartimento della Protezione Civile</a>:</strong></h5>
      <ul>
          <li>Servizio Comunicazione e relazioni con il pubblico</li>
          <li>Servizio ispettivo e monitoraggio tecnico degli interventi strutturali e post-emergenza</li>
          <li>Servizio affari finanziari</li>
          <li>Servizio rischio idrogeologico, idraulico, idrico, marittimo e costiero</li>
          <li>Servizio informatica e sistemi per le comunicazioni</li>
          <li>Ufficio del Consigliere Giuridico</li>
          <li>Ufficio stampa</li>
      </ul>

      <h5><strong>Per <a href="http://www.isprambiente.it/" target="_blank">ISPRA</a>:</strong></h5>
      <ul>
          <li>Martina Bussettini</li>
          <li>Pierluigi Gallozzi</li>
          <li>Carla Iadanza</li>
          <li>Barbara Lastoria</li>
          <li>Alessandro Trigila</li>
      </ul>

      <h5><strong>Per <a href="http://www.agid.gov.it/" target="_blank">Agid</a>:</strong></h5>
      <ul>
          <li>Marco Bani (Coordinamento  tecnico)</li>
          <li>Ernesto Belisario (Aspetti legali)</li>
          <li>Direzione Sistemi, Servizi e Tecnologie, Area Sistemi e Tecnologie</li>
          <ul>
             <li>Mario Terranova (responsabile)</li>
             <li>Salvatore Di Gioia</li>
             <li>Saverio Mastropierro</li>
          </ul>
      </ul>

      <p>I costi per le collaborazioni esterne di Agid ammontano a euro 44.530€ iva inclusa</p>

    </div>
</div>

</div></div>
