<!--
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navigation-bar">
                <div class="row">
                    <div class="col-sm-7">
                        <div class="header-panel">
                            <div class="row">
                                <div class="col-sm-8 brand">
                                    <a class="logo" ui-sref="home">
                                        <img src="img/logo.png" class="img-responsive"/>
                                    </a>
                                    <span class="payoff">Il Governo a lavoro contro frane ed alluvioni</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <nav class="navigation-block">
                            <ul class="nav nav-pills nav-justified">
                                <li role="presentation" >
                                    <a ui-sref="interventi">
                                        <i class="icon-icon-interventi"></i><span>Interventi</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a ui-sref="emergenze">
                                        <i class="icon-icon-emergenze"></i><span>Emergenze</span>
                                    </a>
                                </li>
                                <li role="presentation" class="active">
                                    <a ui-sref="sintesi">
                                        <i class="icon-icon-bar"></i><span>Sintesi</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a ui-sref="guida">
                                        <i class="icon-icon-info"></i><span>Guida</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header> 
-->    
<ng-include src="'templates/navbar.html'"></ng-include>
<main> 
    <div ui-view></div>
</main>
<div class="modal fade" id="socialModal" tabindex="-1" role="dialog" aria-labelledby="socialShare" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <iframe id="socialPage"></iframe>
            </div>
        </div>
    </div>
</div>
<ng-include src="'templates/footer.html'"></ng-include>
