<div class="box-emergenze">
    <div class="eactive" ng-show="selected && sizeOf(arrayEmergenze)>0">
        <div class="controls-emergenze">
            <div id="lprev"></div>
            <div id="lnext"></div>
        </div>
        <h4></h4>
    </div>
    <ul class="sliderEmergenze">
        <li ng-repeat="emergenza in arrayEmergenze" on-finish-render="sliderestart">
            <div class="overview-emergenza">
<div><span>Evento (stato di emergenza {{emergenza.stato | uppercase}})</span><span class="number"><strong>{{emergenza.evento}}</strong></span></div>
<div><span>Province o Citt&agrave; Metropolitane</span><span class="number">{{emergenza.provincia!=""?emergenza.provincia:"Tutte" }} </span></div>
<div><span>Data di dichiarazione | proroghe | scadenza</span><span class="number">{{emergenza.dichiarazione}} | {{emergenza.proroga_1!=""?emergenza.proroga_1:" - "}}{{emergenza.proroga_2!=""?" / "+emergenza.proroga_2:" - "}} | {{emergenza.scadenza}}</span></div>
<div><span>Commissario delegato</span><span class="number">{{emergenza.commissario}}</span></div>
<div><span>Ordinanze (nr)-data</span><span class="number">{{emergenza.n_ocdpc_1!=null?("("+emergenza.n_ocdpc_1+")-"+emergenza.data_ocdpc_1 ):""}}
{{emergenza.n_ocdpc_2!=""?(", ("+emergenza.n_ocdpc_2+")-"+emergenza.data_ocdpc_2 ):""}} 
{{emergenza.n_ocdpc_3!=""?(", ("+emergenza.n_ocdpc_3+")-"+emergenza.data_ocdpc_3 ):""}}
{{emergenza.n_ocdpc_4!=""?(", ("+emergenza.n_ocdpc_4+")-"+emergenza.data_ocdpc_4 ):""}}
{{emergenza.n_ocdpc_5!=""?(", ("+emergenza.n_ocdpc_5+")-"+emergenza.data_ocdpc_5 ):""}}
{{emergenza.n_ocdpc_6!=""?(", ("+emergenza.n_ocdpc_6+")-"+emergenza.data_ocdpc_6 ):""}}
</div>
<div><span>Contabilit&agrave; speciale</span><span class="number"><u><strong>nr.</strong></u> {{emergenza.n_contabilita}}, <u><strong>apertura:</strong></u> {{emergenza.apertura_contabilita}}, <u><strong>chiusura:</strong></u> {{emergenza.chiusura_contabilita!=""?emergenza.chiusura_contabilita:"-"}}</span></div>
<div><span>Importo segnalato dalla Regione</span><span class="number"><u><strong>totale:</strong></u> {{emergenza.importo_regione | currency }}, <u><strong>(a)</strong></u> {{emergenza.importo_regione_a | currency}}, <u><strong>(b)</strong></u> {{emergenza.importo_regione_b | currency}}, <u><strong>(c)</strong></u> {{emergenza.importo_regione_c | currency}}, <u><strong>(d)</strong></u> {{emergenza.importo_regione_d | currency}}</span></div>
<div><span>Importo delibera CDM <i class="fa fa-long-arrow-right"></i> Importo trasferito al Commissario</span><span class="number">{{emergenza.importo_delibera_cdm | currency}} <i class="fa fa-long-arrow-right"></i> {{emergenza.importo_trasferito | currency}}</span></div>
<div><span>Importo danni accertati dal Commissario</span><span class="number"><u><strong>totale:</strong></u> {{emergenza.fabbisogni!=0?(emergenza.fabbisogni | currency ):"importo non ancora disponibile"}}, <u><strong>(a)</strong></u> {{emergenza.fabbisogni_a!=0?(emergenza.fabbisogni_a | currency ):"N/D"}}, <u><strong>(b)</strong></u> {{emergenza.fabbisogni_b!=0?(emergenza.fabbisogni_b | currency ):"N/D"}}, <u><strong>(c)</strong></u> {{emergenza.fabbisogni_c!=0?(emergenza.fabbisogni_c | currency ):"N/D"}} </span></div>
<div ng-show="emergenza.note !='' "><span>Note</span><span class="number">{{ emergenza.note }}</span></div>
				<div class="link-rendis">
                    <h4><!-- EMERGENZA NR. {{emergenza.id}} --><a href="http://www.protezionecivile.gov.it/jcms/it/view_prov.wp?contentId={{emergenza.emlink}}" target="_blank">VAI ALLA DELIBERAZIONE DEL CDM <i class="icon-ico_scheda_cantiere"></i></a></h4>
                </div>
            </div>
        </li>
    </ul>
</div>

