<!--
<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <a ui-sref="progetto">Il Progetto</a>
                <span>|</span>
                <a ui-sref="crediti">Crediti</a>
                <span>|</span>
                <a ui-sref="opendata">Open Data</a>
                <span>|</span>
                <a ui-sref="opensource">Open Source</a>
                <span>|</span>
                <a ui-sref="feedback">Aiutaci a migliorare</a>
            </div>
            <div class="col-sm-4 text-center">
                    <span id="lastupdate"><strong>Aggiornato al {{dataUpdateDate}}</strong></span>
            </div>
            <div class="col-sm-4 text-right">
                    <span id="copyright">BaseMap &copy; <a href="https://www.openstreetmap.org/copyright" target="_blank" style="font-weight: normal;">OSM Contributors</a> | <a ui-sref="notelegali" >Note Legali</a></span>
            </div>
        </div>
    </div>
</footer>
-->
