<style>
    .tt {
        opacity: 0;
        position: absolute;
        background: rgba(0, 0, 0, .7);
        color: white;
        padding: 3px;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .tt.below {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .tt.below:before {
        border: solid;
        border-color: #111 transparent;
        border-color: rgba(0, 0, 0, 0) transparent;
        border-width: 0 8px 8px 8px;
        bottom: 1em;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        z-index: 99;
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
    .tt.above {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
    .tt.above:before {
        border: solid;
        border-color: #111 transparent;
        border-color: rgba(0, 0, 0, 0) transparent;
        border-width: 8px 8px 0 8px;
        bottom: 1em;
        content: "";
        display: block;
        left: 50%;
        top: 100%;
        position: absolute;
        z-index: 99;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
</style>
<div class="row">
    <div class="col-sm-6" >
        <h4>Tipologia di dissesto</h4>
        <div class="col-xs-5 legend">
            <div class="label_tipologia">
                <span ng-repeat="tipo in graphlabel.tipologia">
                    <i class="icon-{{tipo}}"></i>
                    <span>{{tipo}}</span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 chart">
            <canvas id="tipo-dis" width="80" height="80"></canvas>
            <span class="chart-title">Italia</span>
<div id="tt-tipo-dis" class="tt"></div>
        </div>
    </div>
    <div class="col-sm-6" >
        <h4>Stato</h4>
        <div class="col-xs-5 legend">
            <div class="bar_stato"></div>
            <div class="label_stato">
                <span ng-repeat="tipo in graphlabel.fase">{{tipo}}</span>
            </div>
        </div>
        <div class="col-xs-7 chart">
            <canvas id="fase" width="80" height="80"></canvas>
            <span class="chart-title">Italia</span>
<div id="tt-fase" class="tt"></div>
        </div>
    </div>
    <div class="col-sm-6" >
        <h4>Ente attuatore</h4>
        <div class="col-xs-5 legend">
            <div class="bar_ente"></div>
            <div class="label_ente">
                <span ng-repeat="tipo in graphlabel.ente">{{tipo}}</span>
            </div>
        </div>
        <div class="col-xs-7 chart">
            <canvas id="ente-attuatore" width="80" height="80"></canvas>
            <span class="chart-title">Italia</span>
<div id="tt-ente-attuatore" class="tt"></div>
        </div>
    </div>
    <div class="col-sm-6" >
        <h4>Anno finanziamento</h4>
        <div class="col-xs-5 legend">
            <div class="bar_anno"></div>
            <div class="label_anno">
                <span ng-repeat="tipo in graphlabel.anno">{{tipo}}</span>
            </div>
        </div>
        <div class="col-xs-7 chart">
            <canvas id="anno-fi" width="80" height="80"></canvas>
            <span class="chart-title">Italia</span>
<div id="tt-anno-fi" class="tt"></div>
        </div>
    </div>
    <div class="col-sm-6" >
        <h4>Costi</h4>
        <div class="col-xs-5 legend">
            <div class="bar_costi"></div>
            <div class="label_costi">
                <span ng-repeat="tipo in graphlabel.costi">{{tipo}}</span>
            </div>
        </div>
        <div class="col-xs-7 chart">
            <canvas id="importo-fi-num" width="80" height="80"></canvas>
            <span class="chart-title">Italia - Nr. Interventi</span>
<div id="tt-importo-fi-num" class="tt"></div>
        </div>
    </div>
    <div class="col-sm-6" >
        <h4></h4>
        <!--div class="col-xs-5 legend">
            <div class="bar_costi"></div>
            <div class="label_costi">
                <span ng-repeat="tipo in graphlabel.costi">{{tipo}}</span>
            </div>
        </div-->
        <div class="col-xs-7 col-xs-offset-5 chart no-title">
            <canvas id="importo-fi-euro" width="80" height="80"></canvas>
            <span class="chart-title">Italia - Importi</span>
<div id="tt-importo-fi-euro" class="tt"></div>
        </div>
    </div>
</div>
