
<main>
    <div class="center">
        <a ui-sref="interventi" title="vai alla mappa">
        <img src="img/logo-big.png" alt="italiasicura" class="img-responsive"/>
        </a>
		<p class="payoff">Il Governo a lavoro contro frane e alluvioni</p>
        <p class="claim">
<strong>La mappa dei cantieri antidissesto, i nuovi dati aperti con le opere contro frane e alluvioni comune per comune e lo stato delle emergenze regione per regione.</strong>
        </p>
    </div>
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <a href="http://www.agid.gov.it/" title="Agenzia per l'Italia Digitale" target="_blank"><img src="img/agid.png" alt="Agenzia per l'Italia Digitale" class="img-responsive" /></a>
                </div>
                <div class="col-sm-4">
                  <div class="logo-partner">
                         <a href="http://www.governo.it/" title="Presidenza del Consiglio dei Ministri" target="_blank"><img src="img/ITS_logo_Presidenza.png" style="max-width:70px;"/></a>
                         <a href="http://www.minambiente.it/" title="Ministero dell'Ambiente e della Tutela del Territorio e del Mare" target="_blank"><img src="img/ITS_logo_MATTM.png" style="max-width:90px;"/></a>
                        <a href="http://www.mit.gov.it/" title="Ministero Infratrutture e Trasporti" target="_blank"><img src="img/IPS_logo_MIT.png" style="max-width:90px;"/></a>
                  </div>
                </div>
                <div class="col-sm-5">
                    <div class="logo-partner">
                        <span>in collaborazione con</span>
                        <a href="http://www.isprambiente.gov.it/it" title="ISPRA" target="_blank"><img src="img/ispra.png" alt="ISPRA" style="height-min:100px;"/></a>
                        <a href="http://www.protezionecivile.gov.it/" title="Protezione civile" target="_blank"><img src="img/ITS_logo_DPC.png" alt="Protezione civile" style="max-height:97px;"/></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</main>


