<div class="row info" >
	<div class="col-sm-12">
		<div class="small-info">
			<span>
				Estensione: {{mouseMoveEntity.superfice| number:2}} km
				<sup>2</sup> <foo ng-show="mouseMoveEntity.superficepc!=100">({{mouseMoveEntity.superficepc| number:2}}% di {{mouseMoveEntity.parent}})</foo>
			</span>
			<span>
				Popolazione: {{mouseMoveEntity.popolazione | number}} <foo ng-show="mouseMoveEntity.superficepc!=100">({{mouseMoveEntity.popolazionepc |number:2}}% di {{mouseMoveEntity.parent}})</foo>
			</span>
		</div>
	</div> 
</div>

<div class="info row noMargin">
	<div class="col-sm-12">
		<div class="interventi">
			<div class="itotal row" ng-show="mouseMoveEntity.popolazione!=59433744">
			   <div class="col-sm-6 col-xs-12">
				<h4>{{mouseMoveEntity.itot}} cantieri totali</h4>
			   </div>
			   <div class="col-sm-6 col-xs-12 pullright">
				<span>Lavori per: {{mouseMoveEntity.itotimp | currency}}</span>
			   </div>
			</div>
			<div class="itotal row" ng-show="mouseMoveEntity.popolazione!=59433744">
				<div class="col-sm-6 col-xs-12">
				   <h4>{{mouseMoveEntity.iactive}} cantieri in corso</h4>
			   </div>
			   <div class="col-sm-6 col-xs-12 pullright">
				   <span>Lavori per: {{mouseMoveEntity.iactiveimp | currency}}</span>
			   </div>
			</div>
			<div class="itotal row" ng-show="mouseMoveEntity.popolazione!=59433744">
				<div class="col-sm-6 col-xs-12">
				   <h4>{{mouseMoveEntity.iclosed}} cantieri conclusi</h4>
			   </div>
			   <div class="col-sm-6 col-xs-12 pullright"> 
				   <span>Lavori per: {{mouseMoveEntity.iclosedimp | currency }}</span>
			   </div>
			</div>
			<div class="itotal row" ng-show="mouseMoveEntity.popolazione!=59433744">
				<div class="col-sm-6 col-xs-12">
				   <h4>{{mouseMoveEntity.iother}} altri interventi</h4>
			   </div>
			   <div class="col-sm-6 col-xs-12 pullright">
				   <span>Finanziati: {{mouseMoveEntity.iotherimp | currency }}</span>
			   </div>
			</div>
		</div>
	</div>
</div>

<h3 ng-hide="mouseMoveEntity.shapeType == 'localita'">Pericolosità idraulica</h3>

<div class="info row" ng-hide="mouseMoveEntity.shapeType == 'localita'">
	<div class="col-sm-12">
		<div class="table-responsive pericolosita">
			<table id="parea" class="table table-condensed">
				<thead>
				<tr>
                                <td style="width:5px;padding-right:0;"></td>
				<td>Popolazione <i class="fa fa-exclamation-triangle" tooltip-placement="top-left" tooltip="Ove è riportato un valore = 0 di Popolazione, Scuole o Beni culturali esposti ad alluvioni, il rischio potrebbe non essere nullo, in quanto l’elemento esposto potrebbe trovarsi in una zona del reticolo idrografico minore che non è stata oggetto di mappatura" ></i></td>
					<td>Territorio (km<sup>2</sup>)</td>
					<td>Scuole</td>
					<td>Beni Culturali</td>
				</tr>
				</thead>
				<tbody>
				<tr class="low">
                                        <td style="width:5px;padding-right:0;"><i class="fa fa-question" tooltip-placement="right" tooltip="Pericolosità idraulica Bassa P1 con scarsa probabilità di alluvioni o scenari di eventi estremi"></i></td>
					<td>{{mouseMoveEntity.poptscarsatot!=undefined | iif : mouseMoveEntity.poptscarsatot+' ('+mouseMoveEntity.poptscarsapc+'%)' : 'n.d.'}}</td>
				<td>{{mouseMoveEntity.areatscarsatot!=undefined | iif : mouseMoveEntity.areatscarsatot+' ('+mouseMoveEntity.areatscarsapc+'%)' : 'n.d.'}}</td>
					<td>{{mouseMoveEntity.scuolescarsatot!=undefined | iif : mouseMoveEntity.scuolescarsatot+' ('+mouseMoveEntity.scuolescarsapc+'%)' : 'n.d.'}}</td>
					<td>{{mouseMoveEntity.beniscarsatot!=undefined | iif : mouseMoveEntity.beniscarsatot+' ('+mouseMoveEntity.beniscarsapc+'%)' : 'n.d.'}}</td>
				</tr>
				<tr class="medium">
					<td style="width:5px;padding-right:0;"><i class="fa fa-question" tooltip-placement="right" tooltip="Pericolosità idraulica Media P2 con tempo di ritorno fra 100 e 200 anni"></i></td>
					<td>{{mouseMoveEntity.poptmediatot!=undefined | iif : mouseMoveEntity.poptmediatot+' ('+mouseMoveEntity.poptmediapc+'%)' : 'n.d.'}}</td>
					<td>{{mouseMoveEntity.areatmediatot!=undefined | iif : mouseMoveEntity.areatmediatot+' ('+mouseMoveEntity.areatmediapc+'%)' : 'n.d.'}}</td>
					<td>{{mouseMoveEntity.scuolemediatot!=undefined | iif : mouseMoveEntity.scuolemediatot+' ('+mouseMoveEntity.scuolemediapc+'%)' : 'n.d.'}}</td>
					<td>{{mouseMoveEntity.benimediatot!=undefined | iif : mouseMoveEntity.benimediatot+' ('+mouseMoveEntity.benimediapc+'%)' : 'n.d.'}}</td>
				</tr>
				<tr  class="high">
					<td style="width:5px;padding-right:0;"><i class="fa fa-question" tooltip-placement="right" tooltip="Pericolosità idraulica Elevata P3 con tempo di ritorno fra 20 e 50 anni"></i></td>
					<td>{{mouseMoveEntity.poptelevatatot!=undefined | iif : mouseMoveEntity.poptelevatatot+' ('+mouseMoveEntity.poptelevatapc+'%)' : 'n.d.'}}</td>
					<td>{{mouseMoveEntity.areatelevatatot!=undefined | iif : mouseMoveEntity.areatelevatatot+' ('+mouseMoveEntity.areatelevatapc+'%)' : 'n.d.'}}</td>
					<td>{{mouseMoveEntity.scuoleelevatatot!=undefined | iif : mouseMoveEntity.scuoleelevatatot+' ('+mouseMoveEntity.scuoleelevatapc+'%)' : 'n.d.'}}</td>
					<td>{{mouseMoveEntity.benielevatatot!=undefined | iif : mouseMoveEntity.benielevatatot+' ('+mouseMoveEntity.benielevatapc+'%)' : 'n.d.'}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<h3 ng-hide="mouseMoveEntity.shapeType == 'localita'">Pericolosità frane</h3>

<div class="info row" ng-hide="mouseMoveEntity.shapeType == 'localita'">
	<div class="col-sm-12">
		<div class="table-responsive pericolosita">
			<table id="farea" class="table table-condensed">
				<thead>
				<tr>
				<td style="width:5px;padding-right:0;"></td>
				<td>Popolazione <i class="fa fa-exclamation-triangle" tooltip-placement="top-left" tooltip="Ove è riportato un valore = 0 di Popolazione, Scuole o Beni culturali esposti ad alluvioni, il rischio potrebbe non essere nullo, in quanto l’elemento esposto potrebbe trovarsi in una zona del reticolo idrografico minore che non è stata oggetto di mappatura" ></i></td>
					<td>Territorio (km<sup>2</sup>)</td>
					<td>Imprese</td>
					<td>Beni Culturali</td>
				</tr>
				</thead>
				<tbody>

				<tr>
					<td style="width:5px;padding-right:0;"><i class="fa fa-question" tooltip-placement="right" tooltip="Aree di Attenzione AA"></i></td> 
					<td>{{mouseMoveEntity.frpopt5tot}} ({{mouseMoveEntity.frpopt5pc}}%)</td>
					<td>{{mouseMoveEntity.frareat5tot}} ({{mouseMoveEntity.frareat5pc}}%)
					</td>
					<td>{{mouseMoveEntity.frimp5tot}} ({{mouseMoveEntity.frimp5pc}}%)</td>
					<td>{{mouseMoveEntity.frbeni5tot}} ({{mouseMoveEntity.frbeni5pc}}%)</td>
				</tr>
	
				<tr> 
					<td style="width:5px;padding-right:0;"><i class="fa fa-question" tooltip-placement="right" tooltip="Pericolosità da frana moderata P1"></i></td>
					<td>{{mouseMoveEntity.frpopt1tot}} ({{mouseMoveEntity.frpopt1pc}}%)</td>
					<td>{{mouseMoveEntity.frareat1tot}} ({{mouseMoveEntity.frareat1pc}}%)
					</td>
					<td>{{mouseMoveEntity.frimp1tot}} ({{mouseMoveEntity.frimp1pc}}%)</td>
					<td>{{mouseMoveEntity.frbeni1tot}} ({{mouseMoveEntity.frbeni1pc}}%)</td>
				</tr>
				
				<tr> 
					<td style="width:5px;padding-right:0;"><i class="fa fa-question" tooltip-placement="right" tooltip="Pericolosità da frana media P2"></i></td>
					<td>{{mouseMoveEntity.frpopt2tot}} ({{mouseMoveEntity.frpopt2pc}}%)</td>
					<td>{{mouseMoveEntity.frareat2tot}} ({{mouseMoveEntity.frareat2pc}}%)
					</td>
					<td>{{mouseMoveEntity.frimp2tot}} ({{mouseMoveEntity.frimp2pc}}%)</td>
					<td>{{mouseMoveEntity.frbeni2tot}} ({{mouseMoveEntity.frbeni2pc}}%)</td>
				</tr>
				
				<tr> 
					<td style="width:5px;padding-right:0;"><i class="fa fa-question" tooltip-placement="right" tooltip="Pericolosità da frana elevata P3"></i></td>
					<td>{{mouseMoveEntity.frpopt3tot}} ({{mouseMoveEntity.frpopt3pc}}%)</td>
					<td>{{mouseMoveEntity.frareat3tot}} ({{mouseMoveEntity.frareat3pc}}%)
					</td>
					<td>{{mouseMoveEntity.frimp3tot}} ({{mouseMoveEntity.frimp3pc}}%)</td>
					<td>{{mouseMoveEntity.frbeni3tot}} ({{mouseMoveEntity.frbeni3pc}}%)</td>
				</tr>
				
				<tr> 
					<td style="width:5px;padding-right:0;"><i class="fa fa-question" tooltip-placement="right" tooltip="Pericolosità da frana molto elevata P4"></i></td>
					<td>{{mouseMoveEntity.frpopt4tot}} ({{mouseMoveEntity.frpopt4pc}}%)</td>
					<td>{{mouseMoveEntity.frareat4tot}} ({{mouseMoveEntity.frareat4pc}}%)
					</td>
					<td>{{mouseMoveEntity.frimp4tot}} ({{mouseMoveEntity.frimp4pc}}%)</td>
					<td>{{mouseMoveEntity.frbeni4tot}} ({{mouseMoveEntity.frbeni4pc}}%)</td>
				</tr>
				
				</tbody>
			</table>
		</div>
	</div>
</div>
