<main>
<ng-include src="'templates/navbar.html'"></ng-include>


<div id="main-page">

	<section id="wrap-map" ng-cloak>
		<map-object></map-object>
	</section>

	<aside ng-cloak class="app-panel aside-container"> 
		<div id="info-main" class="header-panel" ng-class="{ 'open' : expanded}"> 
		
			<div ng-show="selection" id="panel-controller"> 
					<div class="panel-controller">
						<a ng-click="resetSelection(); setSidebarHeight('#info-main', -80);">
							Esci <i class="icon-ico_esci"></i>
						</a>
					</div>
					<div class="panel-controller hidden-xs">
						<a ng-click="slide(); setSidebarHeight('#info-main');" ng-show="selection && typeSelection=='intervento' && !expanded">
							Espandi <i class="icon-ico_espandi_right"></i>
						</a>
					</div>
					<div class="panel-controller hidden-xs">
						<a ng-click="slide(); setSidebarHeight('#info-main');"> <i class="icon-ico_comprimi_left"></i> Comprimi </a>
					</div>
			</div>
			<div class="left-container">
				
				
				<div class="row coord" >
					<div class="col-xs-12">
						<div class="bread-crumb" >
							<span ng-show="typeSelection == 'shape'">
								{{mouseMoveEntity.parent}}
							</span>
							<span ng-show="typeSelection != 'shape'">
								Italia
							</span>
						</div>
						<div id="mouse-position">
							<span class="coordinates">{{mousePosition.coordinatesHDMS}}</span>
						</div>
					</div>
					
				</div>
				<div class="row entity-name">
					<div class="col-xs-12" id="entity-name" >
						<h2 ng-show="typeSelection == 'shape'">{{ mouseMoveEntity.name }}</h2>
						<h2  ng-show="typeSelection == 'intervento'">Intervento cod.: {{ mouseMoveIntervento.intervento}} <i class="fa fa-map-marker" ng-show="typeSelection == 'intervento'" tooltip="{{ typeSelection == 'intervento' && mouseMoveIntervento.posizione == 'c' | iif : 'la posizione del cantiere &graeve; indicativa' : 'il punto indica la posizione del cantiere' }}" style="font-size:80%; color:{{ typeSelection == 'intervento' && mouseMoveIntervento.posizione == 'c' | iif : '#ccc' : '#66b42a' }}"></i></h2>
						
						<h2  ng-show="typeSelection == 'intervento_bda'">Intervento cod.: {{ mouseMoveInterventoBDA.intervento}} <i class="fa fa-map-marker" ng-show="typeSelection == 'intervento_bda'" tooltip="{{ typeSelection == 'intervento_bda' && mouseMoveInterventoBDA.posizione == 'c' | iif : 'la posizione del cantiere &graeve; indicativa' : 'il punto indica la posizione del cantiere' }}" style="font-size:80%; color:{{ typeSelection == 'intervento_bda' && mouseMoveInterventoBDA.posizione == 'c' | iif : '#ccc' : '#0066cc' }}"></i></h2>
						
						<h2  ng-show="typeSelection == 'intervento_pn'">Intervento cod.: {{ mouseMoveInterventoPN.codice}} <i class="fa fa-map-marker" ng-show="typeSelection == 'intervento_pn'" tooltip="il punto indica la posizione del cantiere" style="color:#fcaa06; font-size:80%;"></i></h2>
						
					</div>
				</div>
			
				
					
				<ng-include ng-if="typeSelection!=null" src="'templates/interventi.'+typeSelection+'.html'"></ng-include>
				
		
				<div id="panel-bottom-controller" class="visible-xs">
					<div class="panel-controller">
						<a ng-click="slide(); setSidebarHeight('#info-main');" ng-show="selection && typeSelection=='intervento' && !expanded">
							Espandi <i class="icon-ico_espandi_down"></i>
						</a>
					</div>
					<div class="panel-controller">
						<a ng-click="slide(); setSidebarHeight('#info-main');"> Comprimi <i class="icon-ico_comprimi_up"></i></a>
					</div>
				</div>	
			</div>	
			
			<div class="right-container">
				<div id="charts" ng-show="selection && typeSelection=='intervento'">
					<div graphpanel ></div>
				</div>
			</div>
			
			
			
			<div class="social-share-bar visible-xs">
					<ul class="list-inline">
						<li>
							<div share-links="Twitter" share-title="#italiasicura"></div>
						</li>
						<li>
							<div share-links="Facebook" share-title="#italiasicura"></div>
						</li>
						<li>
							<div share-links="Google-Plus" share-title="#italiasicura"></div>
						</li>
						<!--
						<li>
							<div share-links="Whatsapp" share-title="#italiasicura"></div>
						</li>
						-->
						<li> 
							<div share-links="Envelope" share-title="#italiasicura"></div>
						</li>
					</ul>
			</div>	
		</div>
		
		<!--div class="clearfix"></div-->

	</aside>

	<aside id="right-panel">
		<div class="visible-block">
			<div id="right-addons">

			</div>
			<nav class="navigation-addons">
				<ul class="nav">
					<li>
						<a href="">
							<i class="icon-icon-share"></i>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="action-block">
			<h4>Condividi</h4>
			<p>Condividi la tua selezione nel social che preferisci</p>
			<div class="social-share-bar">
				<ul>
					<li>
						<div share-links="Twitter" share-title="#italiasicura"></div>
					</li>
					<li>
						<div share-links="Facebook" share-title="#italiasicura"></div>
					</li>
					<li>
						<div share-links="Google-Plus" share-title="#italiasicura"></div>
					</li>
					<li>
						<div share-links="Whatsapp" share-title="#italiasicura"></div>
					</li>
					<li>
						<div share-links="Envelope" share-title="#italiasicura"></div>
					</li>
				</ul>
			</div>
		</div>
		<div class="clearfix"></div>

	</aside>
	
	

	<div class="bottom-box">
		<div class="social-bar" ng-show="selection" >
			<div class="row">
				<div class="col-sm-4 twitter-block">
					<div tweets hashtag="hashtag" hash="false" button="false" count="15" refresh="300"></div>
				</div>
				<div class="col-sm-8 flickr-block">
					<div class="flickr-info container-fluid">
						<span class="title">flickr</span> #italiasicura
						<span class="pull-right">Selfie dai Cantieri · La galleria di #italiasicura contro il dissesto</span>
					</div>
					<div photoflickr ></div>
				</div>
			</div>
		</div>
<!-- -->
		<div class="container-fluid info-bar" ng-hide="selection">
			<!--div class="box-item">
				<span class="number">{{infoInterventi.itot}}</span>
				<span class="text">il numero complessivo dei cantieri</span>
			</div>
			<div class="box-item">
				<span class="number">{{infoInterventi.itot_imp_fi | currency:undefined:0 }}</span>
				<span class="text">le risorse complessivamente impegnate contro il dissesto</span>
			</div>
			<div class="box-item">
				<span class="number">{{infoInterventi.icorso}}</span>
				<span class="text">il numero dei cantieri in corso</span>
			</div>
			<div class="box-item">
				<span class="number">{{infoInterventi.icorso_imp_fi | currency:undefined:0 }}</span>
				<span class="text">le risorse impegnate sui cantiei in corso</span>
			</div>
			<div class="box-item">
				<span class="number">{{infoInterventi.iconc}}</span>
				<span class="text">il numero dei cantieri conclusi</span>
			</div>
			<div class="box-item">
				<span class="number">{{infoInterventi.iconc_imp_fi | currency:undefined:0 }}</span>
				<span class="text">le risorse impegnate sui cantieri già conclusi</span>
			</div-->
		</div>
	</div>

</div>

</main>
<ng-include src="'templates/footer.html'"></ng-include>

