<main>
<div class="navigation-bar">
    <div class="row">
        <div class="col-sm-7">
            <div class="header-panel">
                <div class="row">
                    <div class="col-sm-8 brand">
                        <a class="logo" href="/#/home">
                            <img src="img/logo.png" class="img-responsive"/>
                        </a>
                        <span class="payoff">Il Governo a lavoro contro frane ed alluvioni</span>
                    </div>

                    <div class="col-sm-4 search">
                        <form class="form-inline" ng-submit="search()">
                            <div class="form-group">
                                <i class="icon-icon-search" ng-click="search()"></i>
                                <input type="text" class="form-control" id="search-place" placeholder="Indirizzo" ng-model="location" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <nav class="navigation-block">
                <ul class="nav nav-pills nav-justified">
                    <li role="presentation" class="active">
                        <a href="#/interventi">
                            <i class="icon-icon-interventi"></i><span>Interventi</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#/emergenze">
                            <i class="icon-icon-emergenze"></i><span>Emergenze</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#/sintesi">
                            <i class="icon-icon-bar"></i><span>Sintesi</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#/guida">
                            <i class="icon-icon-info"></i><span>Guida</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
    <section id="wrap-map" ng-cloak>
        <map-object></map-object>
    </section>
<aside ng-cloak class="app-panel">

    <div id="info-main" class="header-panel">
	<div class="row addons" ng-show="selection">
            <div class="social-share-bar visible-xs">
                <ul>
                    <li>
                        <div share-links="Twitter" share-title="#italiasicura"></div>
                    </li>
                    <li>
                        <div share-links="Facebook" share-title="#italiasicura"></div>
                    </li>
                    <li>
                        <div share-links="Google-Plus" share-title="#italiasicura"></div>
                    </li>
                    <li>
                        <div share-links="Whatsapp" share-title="#italiasicura"></div>
                    </li>
                    <li>
                        <div share-links="Envelope" share-title="#italiasicura"></div>
                    </li>
                </ul>
            </div>
            <div class="top-bar col-xs-6">
            	<a ng-click="resetSelection()">
			Esci<i class="icon-icon-close"></i>
		</a>
	    </div>
	    <div class="top-bar col-xs-6 text-right">
            	<a ng-click="slide()" ng-show="selection && typeSelection=='intervento' && !expanded">
                        Espandi <i class="fa fa-chevron-down-xs fa-chevron-right-sm"></i>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row coord" >
            <div class="col-xs-6">
                <div class="bread-crumb" >
                    <span ng-show="typeSelection == 'shape'">
                        {{mouseMoveEntity.parent}}
                    </span>
                    <span ng-show="typeSelection != 'shape'">
                        Italia
                    </span>
                </div>
            </div>
            <div class="col-xs-6" id="mouse-position">
                <span class="coordinates">{{mousePosition.coordinatesHDMS}}</span>
            </div>
        </div>
        <div class="row entity-name">
            <div class="col-xs-12" id="entity-name" >
                <span ng-show="typeSelection == 'shape'">{{ mouseMoveEntity.name }}</span>
                <span ng-show="typeSelection == 'intervento'">Intervento cod.: {{ mouseMoveIntervento.intervento}}</span>
                <span ng-show="typeSelection == 'intervento_pn'">Intervento cod.: {{ mouseMoveInterventoPN.codice}}</span>
                <i class="fa fa-map-marker" ng-show="typeSelection == 'intervento'" tooltip="{{ typeSelection == 'intervento' && mouseMoveIntervento.posizione == 'c' | iif : 'la posizione del cantiere &graeve; indicativa' : 'il punto indica la posizione del cantiere' }}" style="color:{{ typeSelection == 'intervento' && mouseMoveIntervento.posizione == 'c' | iif : '#ccc' : '#56f8f' }}"></i>
                <i class="fa fa-map-marker" ng-show="typeSelection == 'intervento_pn'" tooltip="il punto indica la posizione del cantiere" style="color:#56f8f"></i>
            </div>
        </div>
        <div class="row" >
            <ng-include ng-if="typeSelection!=null" src="'templates/interventi.'+typeSelection+'.html'"></ng-include>
        </div>

    </div>
<div id="charts" ng-show="selection && typeSelection=='intervento'">
	<div class="top-bar text-right">
		<a ng-click="slide()"><i class="fa fa-chevron-up-xs fa-chevron-left-sm"></i> Comprimi </a>
	</div>
	<div graphpanel ></div>
</div>
    <!--div class="clearfix"></div-->

</aside>
<aside id="right-panel">
    <div class="visible-block">
        <div id="right-addons">

        </div>
        <nav class="navigation-addons">
            <ul class="nav">
                <li>
                    <a href="">
                        <i class="icon-icon-share"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="action-block">
        <h4>Condividi</h4>
        <p>Condividi la tua selezione nel social che preferisci</p>
        <div class="social-share-bar">
            <ul>
                <li>
                    <div share-links="Twitter" share-title="#italiasicura"></div>
                </li>
                <li>
                    <div share-links="Facebook" share-title="#italiasicura"></div>
                </li>
                <li>
                    <div share-links="Google-Plus" share-title="#italiasicura"></div>
                </li>
                <li>
                    <div share-links="Whatsapp" share-title="#italiasicura"></div>
                </li>
                <li>
                    <div share-links="Envelope" share-title="#italiasicura"></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

</aside>

    <div class="bottom-box">
        <div class="social-bar" ng-show="selection" >
            <div class="row">
                <div class="col-sm-4 twitter-block">
                    <div tweets hashtag="hashtag" hash="false" button="false" count="5" refresh="300"></div>
                </div>
                <div class="col-sm-8 flickr-block">
                    <div class="flickr-info container-fluid">
                        <span class="title">flickr</span> #italiasicura
                        <span class="pull-right">Selfie dai Cantieri · La galleria di #italiasicura contro il dissesto</span>
                    </div>
                    <div photoflickr ></div>
                </div>
            </div>
        </div>

        <div class="container-fluid info-bar" ng-hide="selection">
            <!--div class="box-item">
                <span class="number">{{infoInterventi.itot}}</span>
                <span class="text">il numero complessivo dei cantieri</span>
            </div>
            <div class="box-item">
                <span class="number">{{infoInterventi.itot_imp_fi | currency:undefined:0 }}</span>
                <span class="text">le risorse complessivamente impegnate contro il dissesto</span>
            </div>
            <div class="box-item">
                <span class="number">{{infoInterventi.icorso}}</span>
                <span class="text">il numero dei cantieri in corso</span>
            </div>
            <div class="box-item">
                <span class="number">{{infoInterventi.icorso_imp_fi | currency:undefined:0 }}</span>
                <span class="text">le risorse impegnate sui cantiei in corso</span>
            </div>
            <div class="box-item">
                <span class="number">{{infoInterventi.iconc}}</span>
                <span class="text">il numero dei cantieri conclusi</span>
            </div>
            <div class="box-item">
                <span class="number">{{infoInterventi.iconc_imp_fi | currency:undefined:0 }}</span>
                <span class="text">le risorse impegnate sui cantieri già conclusi</span>
            </div-->
        </div>
    </div>
</main>
<ng-include src="'templates/footer.html'"></ng-include>

