<div class="col-sm-12 info">
    <div class="info-interventi pn">
        <div class="box-int-info">
            <div>
                <span>Titolo</span>
                <span class="number">{{mouseMoveInterventoPN.titolo}}</span>
            </div>
            <div>
                <span>Città</span>
                <span class="number">{{mouseMoveInterventoPN.citta}}</span>
            </div>
            <div>
                <span>Stato progettazione</span>
                <span class="number">{{mouseMoveInterventoPN.prog}}</span>
            </div>
            <div>
                <span>Importo totale</span>
                <span class="number">{{mouseMoveInterventoPN.imptot | currency}}</span>
            </div>
        </div>
        <div class="title-lotti">
            <h4><strong><a href="http://italiasicura.governo.it/site/home/dissesto/aree-metropolitane.html">Piano Nazionale - Città Metropolitane</a></strong></h4>
        </div>
    </div>
</div>
