<div class="col-sm-12 info">
    <div class="info-interventi">
<!-- REMOVED
        <div class="link-rendis">
            <h4><a href="http://www.rendis.isprambiente.it/rendisweb/dettaglioint.jsp?id={{mouseMoveIntervento.intervento}}" target="_blank">
                vai alla scheda Rendis <i class="fa fa-external-link fa-1"></i></a></h4>
        </div>
-->
        <div class="box-int-info">
            <div>
                <span>Norma di Riferimento</span>
                <span class="number">{{mouseMoveIntervento.norma}}</span>
            </div>
            <div>
                <span>Descrizione</span>
                <span class="number">{{mouseMoveIntervento.descrizione}}</span>
            </div>
            <div>
                <span>Ente proponente</span>
                <span class="number">{{mouseMoveIntervento.ente_prop}}</span>
            </div>
            <div>
                <span>Importo finanziato</span>
                <span class="number">{{mouseMoveIntervento.imp_finanziato | currency}}</span>
            </div>
        </div>
        <div ng-if="!selected" class="title-lotti" >
            <h4>{{ mouseMoveIntervento.nr_lotti }} Cantier{{mouseMoveIntervento.nr_lotti>1 | iif : "i" : "e"}}</h4>
        </div>
        <ng-include ng-if="selected" src="'templates/interventi.intervento.lotti.html'"></ng-include>   
    </div>
</div>
