<ng-include src="'templates/navbar.html'"></ng-include>
<main>
    <!-- h2>Guida page</h2 -->
<div class="box-standings">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div ui-view class="page">

					<div class="row">
						<div class="col-md-10 col-md-offset-1">

						<div class="standing-item panelmain panel panel-default">
							<div class="panel-heading panelmain">
								<h4>Note Legali</h4>
							</div>
							<div class="panel-body">
							<p><strong>#italiasicura</strong> un servizio di visualizzazione della mappa sempre aggiornata degli interventi messi in campo dal <strong>Governo</strong> per la mitigazione del rischio idrogeologico fornito dall’<a href="http://www.agid.gov.it" target="_blank" title="Agenzia per l'Italia Digitale">Agenzia per l’Italia Digitale <i class="icon-ico_scheda_cantiere"></i></a>.</p>

							 <h5><strong>COPYRIGHT</strong></h5>
							 <p>La titolarità dei dati visualizzati sul sito <a href="http://mappa.italiasicura.gov.it">http://mappa.italiasicura.gov.it</a> è di ISPRA con riferimento agli interventi e del Dipartimento della Protezione Civile per le emergenze.<br>
						Le elaborazioni e le rappresentazioni grafiche pubblicate sul sito <a href="http://mappa.italiasicura.gov.it">http://mappa.italiasicura.gov.it</a> sono a cura dell’Agenzia per l’Italia Digitale.<br>
						Salvo ove diversamente indicato, i dati pubblicati sul presente sito sono messi a disposizione con licenza CC-BY 3.0, il cui testo integrale è disponibile al seguente indirizzo: <a href="http://creativecommons.org/licenses/by/3.0/it/legalcode" target="_blank">http://creativecommons.org/licenses/by/3.0/it/legalcode <i class="icon-ico_scheda_cantiere"></i></a></p>
							 <p>Questo significa che, ove non diversamente specificato, i contenuti di questo sito sono liberamente distribuibili e riutilizzabili, a patto che sia sempre citata la fonte.</p>
<p>
La mappa è realizzata utilizzando anche <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap <i class="icon-ico_scheda_cantiere"></i></a>, iniziativa aperta e volta alla creazione di dati geografici e alla loro fornitura gratuita a chiunque li desideri.
La cartografia contenuta nelle "tile" della mappa di base e la relativa documentazione sono copyright di <a href="http://www.thunderforest.com/" target="_blank">Thunderforest <i class="icon-ico_scheda_cantiere"></i></a> e fornite in licenza <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY SA 2.0 <i class="icon-ico_scheda_cantiere"></i></a>. 
Le "tile" sono prodotte anche attraverso i dati di OpenStreetMap che sono rilasciati con licenza <a href="http://opendatacommons.org/licenses/odbl/" target="_blank">ODbL</a> In generale i termini di licenza e di utilizzo di OpenStreetMap sono illustrati in dettaglio all'indirizzo: <a href="http://www.openstreetmap.org/copyright" target="_blank">http://www.openstreetmap.org/copyright <i class="icon-ico_scheda_cantiere"></i></a></p>

							 <h5><strong>COOKIES</strong></h5>
							 <p>Il Sito utilizza cookies di sessione per migliorare la sicurezza e l’efficienza della navigazione; l’utilizzo dei cookies di sessione non è strumentale alla raccolta di dati personali identificativi dell’Utente, essendo limitato alla sola trasmissione di dati identificativi di sessione nella forma di numeri generati automaticamente dal server.<br>
						I cookies di sessione non sono memorizzati in modo persistente sul dispositivo dell’Utente e vengono cancellati automaticamente alla chiusura del browser.</p>

							 <h5><strong>PLUG-IN SOCIAL</strong></h5>
							 <p>Sul Sito sono presenti i plug-in di alcuni tra i principali social network (Facebook, Twitter, Google +).<br>
						Ogni volta che l’Utente decide di interagire con i plug-in ovvero accede al Sito dopo essersi “loggato” attraverso il proprio account Facebook, Twitter o Google Plus, alcune informazioni personali potrebbero essere acquisite dai gestori delle piattaforme di social network (per esempio, la visita dell’Utente al Sito).<br>
						AGID non ha accesso a tali dati che sono raccolti e trattati in piena autonomia dai gestori delle piattaforme di social network. Per maggiori informazioni sulle logiche e le modalità di trattamento dei dati raccolti dai social network, gli utenti sono invitati a leggere le note informative sulla privacy fornite dai soggetti che forniscono i servizi in questione:</p>
							 <ul>
							  <li><i class="fa fa-facebook-official"></i> FACEBOOK <a href="http://www.facebook.com/policy.php" target="_blank">http://www.facebook.com/policy.php <i class="icon-ico_scheda_cantiere"></i></a></li>
							  <li><i class="fa fa-twitter"></i> TWITTER <a href="http://twitter.com/privacy" target="_blank">http://twitter.com/privacy</a> <i class="icon-ico_scheda_cantiere"></i></li>
							  <li><i class="fa fa-google-plus"></i> GOOGLE PLUS <a href="http://www.google.com/intl/it/policies/privacy/" target="_blank">http://www.google.com/intl/it/policies/privacy/ <i class="icon-ico_scheda_cantiere"></i></a></li>
							 </ul>

							</div>
						</div>

						</div>
					</div>

					
					
				</div>
            </div>
        </div>
    </div>
</div> <!--close box-standing -->
</main>
<ng-include src="'templates/footer.html'"></ng-include>					
